
.div1 {
    float: right;
    background-color: pink;
    padding: 60px;
    position: sticky;

    


}



.div2 {
    float: left;
    padding: 10px;
    background-color: cyan;



}


.divtexto {

    background-color: orange;



}

.divtexto2 {

    margin-top: 30px;

}